.show_bid{
    background-color:rgba(0,0,0,0.7);
    color:gold;
}

.grid_container{
    display:grid;
    margin:20px 50px;
    background-color:rgba(0,0,0,0.7);
    color:gold;
    grid-template-columns: auto;
}
.grid_item{
    padding: 15px;
}
input {
    margin:10px;
    padding:5px;
    border-radius:5px;
}